<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Mark</title>

    <style>
        :root {
            font-size: 15px;
        }
        body {
            display: flex;
            justify-content: center;
            padding: 50px 0;
            text-align: center;
        }
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-weight: 400;
            
        }

    </style>
</head>
<body>
    <main>
        <h2>Evaluez vos camarades</h2>
        <p>
            <span>Votre base de données : </span>
            <a href="/evaluations-list/">Afficher</a>
            <a href="/api/export/" download="evaluations.xlsx">Exporter</a>
            <a href="/api/clear/" class="clear-btn" style="color: red;">Effacer</a>
        </p>

        <!-- student form  -->
        <div class="add-form student-form">
            <h3>Ajoutez un étudiant</h3>
            <form method="POST" action="/api/add/student/">
                <input type="text" name="name" placeholder="Donnez un nom">
                <input type="submit" value="Envoyer">
            </form>
        </div>

        <!-- add criteria form -->
        <div class="add-form criteria-form">
            <h3>Ajoutez un critère d'évaluation</h3>
            <form method="POST" action="/api/add/criteria/">
                <input type="text" name="name" placeholder="Donnez un nom">
                <select name="data-type" id="data-type">
                    <option value="quanti" selected>quantitative</option>
                    <option value="quali">qualitative</option>
                </select>
    
                <input type="submit" value="Envoyer">
            </form>
        </div>
    </main>

    <script>

        function saveStudent(data) {
            // call api endpoint (add student)
            const rp = fetch("/api/add/student/", {
                method: "POST",
                headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},
                body: JSON.stringify(
                    {
                        name: data.get("name")
                    }
                )
            })
            rp
                .then((r) => r.json())
                .then((result) => {
                    if (result.status === 0) {
                        alert(`'${result.object.name}' ajouté !`)
                    }
                })
                .catch(() => {
                    alert("!! Une erreur s'est produite")
                })
        
        }

        function saveCriteria(data) {
            
            // call api endpoint (add criteria) 
            const rp = fetch("/api/add/criteria/", {
                method: "POST",
                headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},
                body: JSON.stringify(
                    {
                        name: data.get("name"),
                        datatype: data.get("data-type")
                    }
                )
            })
            rp
                .then((r) => r.json())
                .then((result) => {
                    if (result.status === 0) {
                        alert(`Critère '${result.object.name}' ajouté !`)
                    }
                })
                .catch(() => {
                    alert("!! Une erreur s'est produite")
                })
        }

        // clear database
        document.querySelector(".clear-btn").addEventListener("click", (e) => {
            e.preventDefault()

            // confirm deletion
            if (window.confirm("Voulez-vous vraiment supprimer la base de donnée ?")) {
                window.location = "/api/clear/" // delete all in db
                alert("Base de données éffacé !") // show success message
            }
        })

        // save student 
        document.querySelector(".student-form").addEventListener("submit", (e) => {
            e.preventDefault();
            
            const data = new FormData(e.target); // get form data
            e.target.querySelector("input[type=text]").value = "" // clear form
            saveStudent(data) // save student
        })

        // save criteria
        document.querySelector(".criteria-form").addEventListener("submit", (e) => {
            e.preventDefault();
            
            const data = new FormData(e.target); // get form data
            e.target.querySelector("input[type=text]").value = "" // clear form data
            saveCriteria(data) // save criteria
        })
    </script>
</body>
</html>